<!DOCTYPE html>
<html>
<head>
	<title>Авторизация</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Тестовая система">
	<link rel="stylesheet" type="text/css" href="/static/html/styles.css">
	<script src="/static/js/login.js"></script>
</head>
<body>
	<div id="login" style="display: table">
		<img src="/static/images/logo.png" style="width: 218.017px">
		<form action="/auto" method="post">
		  <label for="username">Имя пользователя:</label><br>
		  <input type="text" id="logUserName" name="logUserName" placeholder="Login" autofocus><br>
		  <label for="password">Пароль:</label><br>
		  <input type="password" id="logPassword" name="logPassword" placeholder="●●●●●●●●"><br>
		  <input class="button" type="submit" value="Войти">
		</form><br>
		<a id="regLabel" href="javascript:void(0)" onclick="hideLogin()">Регистрация</a>
	</div>
	<div id="register" style="display: none">
		<img src="/static/images/logo.png" style="width: 218.017px">
		<form action="/reg" method="post">
		  <label for="username">Имя пользователя:</label><br>
		  <input type="text" id="username" name="username" placeholder="Login" autofocus><br>
		  <label for="password">Пароль:</label><br>
		  <input type="password" id="password" name="password" placeholder="●●●●●●●●"><br>
		  <label for="confpassword">Подтвердите пароль:</label><br>
		  <input type="password" id="confpassword" name="confpassword" placeholder="●●●●●●●●"><br>
		  <input class="button" type="submit" value="Зарегистрироваться">
		</form><br>
		<a id="regLabel" href="javascript:void(0)" onclick="showLogin()">Авторизация</a>
		<script>resize()</script>
	</div>
{{if .RegWrong}}
	<p id="regWrong">{{.RegWrong}}</p>
	<script>hideLogin();</script>
{{end}}
{{if .AutoWrong}}
	<p id="autoWrong">{{.AutoWrong}}</p>
{{end}}
</body>
	
</html>
